/**
 * @package minecraft-server-status
 * @version 1.1
 */
/*
Plugin Name: Minecraft Server Status
Description: Shows information about a minecraft server
Author: David Parker
*/

input{
	margin:20px;
}

#mc-display-settings-div{
	background-color:#ffffff;
	width:300px;
	padding-top:5px;
	text-align:center;
}

#mc-display-settings-header{
}

#mc-display-settings-table{
	width:80%; 
    margin-left:10%; 
}

